<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="firstName">First Name</label>
      <input type="firstName" class="form-control" name="firstName" id="firstName" [(ngModel)]="firstName"  placeholder="firstName">
    </div>
    <div class="form-group col-md-6">
      <label for="LastName">LastName</label>
      <input type="LastName" class="form-control" name="lastName" id="LastName" [(ngModel)]="lastName" placeholder="LastName">
    </div>
  </div>
  <div class="form-group">
    <label for="Mobile">Mobile</label>
    <input type="text" class="form-control" name="mobile" id="Mobile" [(ngModel)]="mobile" placeholder="Mobile">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" name="email" id="inputEmail4" [(ngModel)]="email" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" name="pass" id="inputPassword4" [(ngModel)]="password" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="apiKey">Api Key</label>
    <input type="text" class="form-control" name="apiKey" id="apiKey" [(ngModel)]="apiKey" placeholder="apiKey">
  </div>
  
  <button type="submit" class="btn btn-primary" (click)="signup()">Sign Up</button>
</form>